# Forecasting

In [1]:
# imports
import pandas as pd
from sklearn.linear_model import LinearRegression
import orga_functions as org
from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv(org.path("01_AirQuality_processed.csv"), sep=';', index_col='date')
df

,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
date,,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
2004-03-10 19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2004-03-10 20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
2004-03-10 21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
2004-03-10 22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-02-06 19:00:00,1.6,985.0,NaN,4.5,736.0,227.0,891.0,165.0,875.0,774.0,6.0,38.0,0.3584
2005-02-06 20:00:00,1.8,1002.0,NaN,5.3,780.0,252.0,855.0,179.0,892.0,857.0,5.8,36.4,0.3385
2005-02-06 21:00:00,1.4,938.0,NaN,3.7,692.0,193.0,937.0,149.0,805.0,737.0,5.8,35.4,0.3286
2005-02-06 22:00:00,1.1,896.0,NaN,2.6,627.0,158.0,1033.0,126.0,782.0,610.0,5.4,36.6,0.3304
2005-02-06 23:00:00,1.0,907.0,NaN,2.4,614.0,150.0,1052.0,120.0,782.0,627.0,5.1,37.9,0.3358

In [3]:
# shift abs humidty values by 6 hrs
target = 'ah_target'
df[target] = df.ah.shift(periods=6)

In [4]:
# drop related cols to target that are unknown
df.drop(columns=['ah', 'rh'], inplace=True)

# drop rows where target is unknown
df.dropna(subset=[target], inplace=True)

In [5]:
# define features list
features = ['co_gt', 'pt08_s1_co']

In [6]:
df = df[features + [target]]

In [7]:
# Missing value treatment goes here
df = df.dropna()

In [8]:
df.shape

(6024, 3)

In [9]:
X = df[features]
y = df[target]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1000, shuffle=False, random_state=1997)

In [11]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mean_absolute_error(y_test, y_pred)

0.5159891293713774

In [12]:
y_test[0]

0.6348

In [13]:
# define train/test cv-split
#tscv = TimeSeriesSplit(gap=0, n_splits=5, test_size=1000, max_train_size=None)

In [14]:
#tscv
#X.index

In [15]:
#for train_index, test_index in tscv.split(X):
#    print("TRAIN:", train_index, "TEST:", test_index)
#    X_train, X_test = X[train_index], X[test_index]
#    y_train, y_test = y[train_index], y[test_index]