In [1]:
import pandas as pd
import functions as func
import orga_functions as org
import json

In [2]:
df = pd.read_csv(org.path("02_AirQuality_processed.csv"), sep=';', index_col='date')
#df = pd.read_csv(org.path("03_AirQuality_normalized.csv"), sep=';')
df

,co_gt,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
date,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,11.9,1046.000000,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
2004-03-10 19:00:00,2.0,1292.0,9.4,955.000000,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2004-03-10 20:00:00,2.2,1402.0,9.0,939.000000,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
2004-03-10 21:00:00,2.2,1376.0,9.2,948.000000,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
2004-03-10 22:00:00,1.6,1272.0,6.5,836.000000,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...
2005-02-06 19:00:00,1.6,985.0,4.5,953.579453,227.0,891.0,165.0,875.0,774.0,6.0,38.0,0.3584
2005-02-06 20:00:00,1.8,1002.0,5.3,780.000000,252.0,855.0,179.0,892.0,857.0,5.8,36.4,0.3385
2005-02-06 21:00:00,1.4,938.0,3.7,953.579453,193.0,937.0,149.0,805.0,737.0,5.8,35.4,0.3286
2005-02-06 22:00:00,1.1,896.0,2.6,953.579453,158.0,1033.0,126.0,782.0,610.0,5.4,36.6,0.3304
2005-02-06 23:00:00,1.0,907.0,2.4,953.579453,150.0,1052.0,120.0,782.0,627.0,5.1,37.9,0.3358

# Feature Engineering (Part 1)

## Selecting

In [3]:
# searching for best features by checking the best mean_absolute_error (LinearRegression) (with 8hrs shift)

#0.0758
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc", "nox_gt", "pt08_s3_nox","no2_gt", "pt08_s4_no2","pt08_s5_o3","t", "ah"]

# all without ah: 0.109093
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox","no2_gt", "pt08_s4_no2","pt08_s5_o3","t"]

#0.17263
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox","no2_gt", "pt08_s4_no2","pt08_s5_o3"]

#0.174619
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox","no2_gt", "pt08_s4_no2"]

#0.4676257
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox","no2_gt"]

#0.53005
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox"]

#0.5355
#features = ['co_gt', 'pt08_s1_co']

#### single features

In [4]:
#0.533077
#features = ['co_gt']       #better than ['co_gt', 'pt08_s1_co']!!!

#0.53368
#features = ['pt08_s1_co']

#0.5236
#features = ["c6h6_gt"]

#0.53027
#features = ["pt08_s2_nmhc"]

#0.52022
#features = ["nox_gt"]

#0.5558
#features = ["pt08_s3_nox"]

#0.53640
#features = ["pt08_s5_o3"]

#### better than 0,5

In [5]:
#0.49599
#features = ["no2_gt"]

#0.31505
#features = ['pt08_s4_no2']

#0.21176
#features = ['t']

#0.08831 -ignore?
#features = ["ah"]

##### results:

In [6]:
#0.1598
#features = ["pt08_s4_no2","t"]

In [7]:
#0.11694
#features = ["no2_gt", "pt08_s4_no2","t"]

### Best  ("pt08_s4_no2","t")-Combi

##### worse:

In [8]:
#0.11910
#features = ["nox_gt","no2_gt", "pt08_s4_no2","t"]

#0.13353
#features = ["pt08_s3_nox","no2_gt", "pt08_s4_no2","t"]

#0.11706
#features = ["pt08_s5_o3","no2_gt", "pt08_s4_no2","t"]

#0.116959
#features = ['pt08_s1_co',"no2_gt", "pt08_s4_no2","t"]

#### better:

In [9]:
#0.1065670
#features = ["pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

#0.1107
#features = ["c6h6_gt","no2_gt", "pt08_s4_no2","t"]

#0.11682
#features = ['co_gt',"no2_gt", "pt08_s4_no2","t"]

-  winner: features = ["pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

### Best ("pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t")-Combi

#### worse

In [10]:
#0.10721
#features = ["co_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

#together
#0.10828
#features = ["co_gt","c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

#### better

In [11]:
#0.106266
#features = ["c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

- winner: features = ["c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

### Best ("c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t")-Combi

In [12]:
#0.10365
#features = ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]                #1

#0.1043
#features = ["c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","pt08_s5_o3","t"]                #3

#0.10427 (both)
#features = ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","pt08_s5_o3","t"]   #2

- best features: ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

### Final Result

In [13]:
best_features = ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]                #0.10365
best_features_with_ah = ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t", "ah"]  #0.0735711

In [14]:
#features = best_features
features = best_features_with_ah

# Forecasting

## Target

In [15]:
target = 'ah_target'

## Shift

In [16]:
# shift abs humidty values by 6 hrs  #8
target = 'ah_target'
df[target] = df.ah.shift(periods=-6)

In [17]:
df.head(8)

,co_gt,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah,ah_target
date,,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,11.9,1046.000000,166.0,1056.000000,113.0,1692.0,1268.0,13.6,48.9,0.7578,0.7603
2004-03-10 19:00:00,2.0,1292.0,9.4,955.000000,103.0,1174.000000,92.0,1559.0,972.0,13.3,47.7,0.7255,0.7702
2004-03-10 20:00:00,2.2,1402.0,9.0,939.000000,131.0,1140.000000,114.0,1555.0,1074.0,11.9,54.0,0.7502,0.7648
2004-03-10 21:00:00,2.2,1376.0,9.2,948.000000,172.0,1092.000000,122.0,1584.0,1203.0,11.0,60.0,0.7867,0.7517
2004-03-10 22:00:00,1.6,1272.0,6.5,836.000000,131.0,1205.000000,116.0,1490.0,1110.0,11.2,59.6,0.7888,0.7465
2004-03-10 23:00:00,1.2,1197.0,4.7,750.000000,89.0,1337.000000,96.0,1393.0,949.0,11.2,59.2,0.7848,0.7366
2004-03-11 00:00:00,1.2,1185.0,3.6,953.579453,62.0,848.762615,77.0,1333.0,733.0,11.3,56.8,0.7603,0.7353
2004-03-11 01:00:00,1.0,1136.0,3.3,953.579453,62.0,848.762615,76.0,1333.0,730.0,10.7,60.0,0.7702,0.7417

In [18]:
df.shape

(7998, 13)

## Limitation of the ML_DataFrame

In [19]:
# drop rows where target is unknown (last 6 rows with NaN ah_target)
df.dropna(subset=[target], inplace=True)

In [20]:
df

,co_gt,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah,ah_target
date,,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,11.9,1046.000000,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,0.7603
2004-03-10 19:00:00,2.0,1292.0,9.4,955.000000,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,0.7702
2004-03-10 20:00:00,2.2,1402.0,9.0,939.000000,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,0.7648
2004-03-10 21:00:00,2.2,1376.0,9.2,948.000000,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,0.7517
2004-03-10 22:00:00,1.6,1272.0,6.5,836.000000,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,0.7465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-02-06 13:00:00,1.2,911.0,3.5,953.579453,188.0,981.0,135.0,790.0,558.0,11.1,23.5,0.3105,0.3584
2005-02-06 14:00:00,1.0,868.0,2.1,953.579453,127.0,1081.0,100.0,753.0,420.0,10.6,26.0,0.3320,0.3385
2005-02-06 15:00:00,0.8,868.0,1.9,953.579453,96.0,1128.0,78.0,755.0,363.0,10.3,27.7,0.3481,0.3286
2005-02-06 16:00:00,1.0,904.0,2.7,953.579453,138.0,1040.0,100.0,789.0,410.0,10.2,28.3,0.3516,0.3304
2005-02-06 17:00:00,1.4,944.0,3.7,953.579453,217.0,928.0,150.0,832.0,568.0,9.2,29.9,0.3479,0.3358

In [21]:
df.shape

(7992, 13)

# Preparation Data

In [22]:
from sklearn.model_selection import train_test_split
#training, test = train_test_split(df, test_size=0.2, shuffle=False, random_state=1999)
training, test = train_test_split(df, test_size=1000, shuffle=False, random_state=1999)

In [23]:
X_train = training[features]
y_train = training[target]

x_test = test[features]
y_test = test[target]

In [24]:
X_train

,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,no2_gt,pt08_s4_no2,t,ah
date,,,,,,,
2004-03-10 18:00:00,1360.0,11.9,1046.000000,113.0,1692.0,13.6,0.7578
2004-03-10 19:00:00,1292.0,9.4,955.000000,92.0,1559.0,13.3,0.7255
2004-03-10 20:00:00,1402.0,9.0,939.000000,114.0,1555.0,11.9,0.7502
2004-03-10 21:00:00,1376.0,9.2,948.000000,122.0,1584.0,11.0,0.7867
2004-03-10 22:00:00,1272.0,6.5,836.000000,116.0,1490.0,11.2,0.7888
...,...,...,...,...,...,...,...
2004-12-26 21:00:00,1178.0,7.2,866.000000,128.0,1342.0,11.8,1.1381
2004-12-26 22:00:00,985.0,3.8,953.579453,106.0,1187.0,11.8,1.0741
2004-12-26 23:00:00,1113.0,5.2,776.000000,114.0,1217.0,12.0,1.0095
2004-12-27 00:00:00,1178.0,7.4,873.000000,137.0,1328.0,11.2,1.0587
2004-12-27 01:00:00,1024.0,3.9,953.579453,114.0,1168.0,11.5,1.0063

# Models/Classification

### Linear Regression

In [25]:
from sklearn.linear_model import LinearRegression
clf_lin_reg = LinearRegression()
clf_lin_reg.fit(X_train, y_train)

LinearRegression()

In [26]:
pred_linr_y = clf_lin_reg.predict(x_test)

#### Performance Check

In [29]:
check_linr = func.check_df(x_test, y_test, clf_lin_reg)
check_linr

                     future_ah  predicted_ah
future_datetime
2004-12-27 08:00:00     0.9302      0.929537
2004-12-27 09:00:00     0.9113      0.905056
2004-12-27 10:00:00     0.9335      0.886420
2004-12-27 11:00:00     0.9261      0.857971
2004-12-27 12:00:00     0.9379      0.838315
...                        ...           ...
2005-02-06 19:00:00     0.3584      0.407870
2005-02-06 20:00:00     0.3385      0.421599
2005-02-06 21:00:00     0.3286      0.431890
2005-02-06 22:00:00     0.3304      0.434415
2005-02-06 23:00:00     0.3358      0.426008

[1000 rows x 2 columns]

In [30]:
#Abweichung des voraussichtlichen(predicted) AH_Wertes von tatsÃ¤chlich zukunftigen AH_Wert
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, pred_linr_y)

0.061853152701865186

## Decision Tree

In [31]:
# import the regressor
from sklearn.tree import DecisionTreeRegressor 
  
# create a regressor object
clf_tree = DecisionTreeRegressor(random_state = 0) 
  
# fit the regressor with X and Y data
clf_tree.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [32]:
pred_tree_y = clf_tree.predict(x_test)

#### Performance Check

In [33]:
check_tree_df = func.check_df(x_test, y_test, clf_tree)
check_tree_df

                     future_ah  predicted_ah
future_datetime
2004-12-27 08:00:00     0.9302        0.9564
2004-12-27 09:00:00     0.9113        0.9838
2004-12-27 10:00:00     0.9335        0.8979
2004-12-27 11:00:00     0.9261        0.6570
2004-12-27 12:00:00     0.9379        0.6713
...                        ...           ...
2005-02-06 19:00:00     0.3584        0.3790
2005-02-06 20:00:00     0.3385        0.3790
2005-02-06 21:00:00     0.3286        0.3790
2005-02-06 22:00:00     0.3304        0.3790
2005-02-06 23:00:00     0.3358        0.3621

[1000 rows x 2 columns]

In [34]:
mean_absolute_error(y_test, pred_tree_y)

0.08926979999999998

# Saving

## Save Training/Test Split

In [35]:
# save training dataset locally
new_path = org.path("00_train.csv")
training.to_csv(new_path, sep=';', index = True)

In [36]:
# save test dataset locally
new_path = org.path("00_test.csv")
test.to_csv(new_path, sep=';', index = True)

In [37]:
# save test dataset locally
x_path = org.path("00_x_test.csv")
x_test.to_csv(x_path, sep=';', index = True)

y_path = org.path("00_y_test.csv")
y_test.to_csv(y_path, sep=';', index = True)

## Save Model

In [38]:
import pickle

In [39]:
new_path = org.path("LinearRegression_ah_classifier.pkl")

with open(new_path, 'wb') as f:
    pickle.dump(clf_lin_reg, f)

In [40]:
new_path = org.path("DecisionTree_ah_classifier.pkl")

with open(new_path, 'wb') as f:
    pickle.dump(clf_tree, f)