# Purpose of the Notebook:

In this notebook, it is verified that the saving of the regressors was successful and that they can be further used.

# Forecasting Test

## Imports

In [1]:
# imports
import pandas as pd
import pickle
import X3_Forecasting as forecast
import orga_functions as org

from sklearn.metrics import mean_absolute_error

In [2]:
# import the features (x_test) and the actual value of the target (y_test)
x_test = pd.read_csv(org.path("00_x_test.csv"), sep=';')
y_test = pd.read_csv(org.path("00_y_test.csv"), sep=';')

In [3]:
x_test.head(10)

                  date         t      ah
0  2004-12-27 02:00:00  0.262181  0.9411
1  2004-12-27 03:00:00  0.259861  0.9106
2  2004-12-27 04:00:00  0.264501  0.8888
3  2004-12-27 05:00:00  0.269142  0.8527
4  2004-12-27 06:00:00  0.283063  0.8269
5  2004-12-27 07:00:00  0.278422  0.8562
6  2004-12-27 08:00:00  0.259861  0.9302
7  2004-12-27 09:00:00  0.283063  0.9113
8  2004-12-27 10:00:00  0.292343  0.9335
9  2004-12-27 11:00:00  0.306265  0.9261

In [4]:
# import model
with open(org.path("LinearRegression_ah_regressor.pkl"), 'rb') as f:
    linr_clf = pickle.load(f)

In [5]:
# predict for x_test
pred_y = forecast.pred_array(x_test, linr_clf)

## Result

In [6]:
# visual comparison of the actual and estimated values
check = forecast.check_df(x_test,y_test, linr_clf)
check

                     future_ah  predicted_ah
future_datetime
2004-12-27 08:00:00     0.9302      0.914418
2004-12-27 09:00:00     0.9113      0.887897
2004-12-27 10:00:00     0.9335      0.870580
2004-12-27 11:00:00     0.9261      0.841111
2004-12-27 12:00:00     0.9379      0.822809
...                        ...           ...
2005-02-06 19:00:00     0.3584      0.375556
2005-02-06 20:00:00     0.3385      0.390809
2005-02-06 21:00:00     0.3286      0.402679
2005-02-06 22:00:00     0.3304      0.405050
2005-02-06 23:00:00     0.3358      0.395871

[1000 rows x 2 columns]

In [7]:
mean_absolute_error(y_test, pred_y)

0.0563969743878939