# Purpose of the Notebook:

In this notebook, a sample of simulated live data is generated.
Those samples can be used in later notebooks to check whether the forecasting algorithm works in every possible situation.

# Create JSON LiveData

In [1]:
# import
import json
import pandas as pd
import numpy as np
import orga_functions as org

from X1_DataPreparation import change_column
from X1_DataPreparation import og_column_list
from X1_DataPreparation import og_int_column_list

In [2]:
# read in the feature codebook
path = org.path("02_AlleFeatureList.csv")
feature_df = pd.read_csv(path, sep =";")

## FeatureList DataPreparation

In [3]:
feature_df

,names,mean,25%,50%,75%,min,max
0,co_gt,2.168604,1.1000,1.8000,2.9000,0.1000,5.600
1,pt08_s1_co,1098.303412,932.0000,1061.0000,1234.0000,647.0000,1687.000
2,nmhc_gt,218.607666,66.0000,145.0000,297.0000,0.1000,643.500
3,c6h6_gt,10.458205,4.7000,8.6000,14.4000,0.1000,28.950
4,pt08_s2_nmhc,953.579453,749.0000,925.0000,1130.0000,749.0000,1701.500
5,nox_gt,232.360072,89.0000,164.0000,303.7500,0.1000,625.875
6,pt08_s3_nox,848.762615,672.0000,818.0000,984.0000,204.0000,1452.000
7,no2_gt,106.251831,73.0000,103.0000,132.0000,0.1000,220.500
8,pt08_s4_no2,1507.352834,1305.0000,1508.0000,1707.0000,702.0000,2310.000
9,pt08_s5_o3,1024.200026,737.0000,962.0000,1272.0000,253.0000,2074.500
10,t,19.476041,13.1000,19.3000,25.4000,0.3000,43.850
11,rh,48.969244,35.5000,49.4000,62.1000,9.2000,88.700
12,ah,1.082099,0.8167,1.0468,1.3713,0.1988,2.231

#### Original Names

In [4]:
# original Names List
original_names = og_column_list()

In [5]:
# replace names by original/raw names
def og_name(name):
    for og in original_names:
        if change_column(og) == name:
            return og
    return name

feature_df.names = [og_name(x) for x in feature_df.names]

In [6]:
feature_df

,names,mean,25%,50%,75%,min,max
0,CO(GT),2.168604,1.1000,1.8000,2.9000,0.1000,5.600
1,PT08.S1(CO),1098.303412,932.0000,1061.0000,1234.0000,647.0000,1687.000
2,NMHC(GT),218.607666,66.0000,145.0000,297.0000,0.1000,643.500
3,C6H6(GT),10.458205,4.7000,8.6000,14.4000,0.1000,28.950
4,PT08.S2(NMHC),953.579453,749.0000,925.0000,1130.0000,749.0000,1701.500
5,NOx(GT),232.360072,89.0000,164.0000,303.7500,0.1000,625.875
6,PT08.S3(NOx),848.762615,672.0000,818.0000,984.0000,204.0000,1452.000
7,NO2(GT),106.251831,73.0000,103.0000,132.0000,0.1000,220.500
8,PT08.S4(NO2),1507.352834,1305.0000,1508.0000,1707.0000,702.0000,2310.000
9,PT08.S5(O3),1024.200026,737.0000,962.0000,1272.0000,253.0000,2074.500
10,T,19.476041,13.1000,19.3000,25.4000,0.3000,43.850
11,RH,48.969244,35.5000,49.4000,62.1000,9.2000,88.700
12,AH,1.082099,0.8167,1.0468,1.3713,0.1988,2.231

In [7]:
# the name column is set as the new index column
feature_df.set_index('names', inplace = True)

In [8]:
feature_df[["min", "max"]]

                    min       max
names
CO(GT)           0.1000     5.600
PT08.S1(CO)    647.0000  1687.000
NMHC(GT)         0.1000   643.500
C6H6(GT)         0.1000    28.950
PT08.S2(NMHC)  749.0000  1701.500
NOx(GT)          0.1000   625.875
PT08.S3(NOx)   204.0000  1452.000
NO2(GT)          0.1000   220.500
PT08.S4(NO2)   702.0000  2310.000
PT08.S5(O3)    253.0000  2074.500
T                0.3000    43.850
RH               9.2000    88.700
AH               0.1988     2.231

## Create new entries

#### Functions

inner functions

In [9]:
# gets the min for the given feature
def get_min(feature_name):
    return feature_df.loc[feature_name]["min"]

# gets the max for the given feature
def get_max(feature_name):
    return feature_df.loc[feature_name]["max"]

main functions

In [10]:
# returns a correct value for the given feature
def get_correct(feat_name):
    if feat_name in og_int_column_list():
        value = np.random.randint(get_min(feat_name), get_max(feat_name))
        return value
    else:
        value = np.random.uniform(get_min(feat_name), get_max(feat_name))
        return round(value, 2)

In [11]:
# returns a to small value for the given feature
def get_too_small(feat_name):
    if feat_name in og_int_column_list():
        value = np.random.randint(-250, get_min(feat_name)-1)
        return value
    else:
        value = np.random.uniform(-250, get_min(feat_name)-1)
        return round(value, 2)

In [12]:
# returns a to big value for the given feature
def get_too_big(feat_name):
    if feat_name in og_int_column_list():
        value = np.random.randint(get_max(feat_name)+1, 5000)
        return value
    else:
        value = np.random.uniform(get_max(feat_name)+1, 5000)
        return round(value, 2)

 ### Entry with only correct values

In [13]:
# generate values for the all columns besides the date and time columns
corr_dict = {}
for i in feature_df.index.values:
    corr_dict[i] = get_correct(i)

In [14]:
corr_dict["Date"] = "07/02/2005"
corr_dict["Time"] = '00.00.00'

### Entry with some too small values

In [15]:
# generate values for the all columns besides the date and time columns
small_dict = {}

change = 1

for i in feature_df.index.values:
    if change %2 == 0:
        small_dict[i] = get_correct(i)
    else:
        small_dict[i] = get_too_small(i)
    change+=1

In [16]:
small_dict["Date"] = "07/02/2005"
small_dict["Time"] = '01.00.00'

### Entry some too big values

In [17]:
# generate values for the all columns besides the date and time columns
big_dict = {}

# variable 
change = 1

for i in feature_df.index.values:
    if change % 2 == 0:
        big_dict[i] = get_correct(i)
    else:
        big_dict[i] = get_too_big(i)
    change+=1

In [18]:
big_dict["Date"] = "07/02/2005"
big_dict["Time"] = '02.00.00'

### Entry with mix values

In [19]:
# generate values for the all columns besides the date and time columns
mix_dict = {}

change = 1

for i in feature_df.index.values:
    if change % 3 == 0:              
        mix_dict[i] = get_too_big(i)
    elif change % 2 == 0:            
        mix_dict[i] = get_too_small(i)
    else:                            
        mix_dict[i] = get_correct(i)
    change+=1

In [20]:
mix_dict["Date"] = "07/02/2005"
mix_dict["Time"] = '03.00.00'

### Entry with missing  values

In [21]:
missing_dict = {}

In [22]:
missing_dict["Date"] = "07/02/2005"
missing_dict["Time"] = '04.00.00'

In [23]:
# generate same values for the all columns besides the date and time columns
missing_dict["CO(GT)"] = get_correct('CO(GT)')
missing_dict["PT08.S1(CO)"] = get_correct('PT08.S1(CO)')
missing_dict["NO2(GT)"] = get_correct('NO2(GT)')

In [24]:
missing_dict["NOx(GT)"] = np.nan

### entry with an unknown column

In [25]:
dict_unknown = {}
for i in feature_df.index.values:
    dict_unknown[i] = get_correct(i)
dict_unknown["unknown"] = "low"
dict_unknown["Date"] = "07/02/2005"
dict_unknown["Time"] = '05.00.00'

### more entries

In [26]:
corr_dict2 = {}
for i in feature_df.index.values:
    corr_dict2[i] = get_correct(i)

corr_dict2["Date"] = "07/02/2005"
corr_dict2["Time"] = '06.00.00'

In [27]:
corr_dict3 = {}
for i in feature_df.index.values:
    corr_dict3[i] = get_correct(i)

corr_dict3["Date"] = "07/02/2005"
corr_dict3["Time"] = '07.00.00'

## Save  LiveData in JSON File

In [28]:
#function that saves the data in a JSON form
def entry_list(*entries):
    list = []
    for e in entries:
        list.append(e)
    return list

### Save

In [29]:
# convert each every into a JSON-like form
first_entry = entry_list(corr_dict)
second_entry = entry_list(small_dict)
third_entry = entry_list(big_dict)
fourth_entry = entry_list(mix_dict)
fifth_entry = entry_list(missing_dict)
sixth_entry = entry_list(dict_unknown)

In [30]:
# convert the last two entries into a single JSON-like form
other_entries = entry_list(corr_dict2, corr_dict3)

In [31]:
# Save as JSON file
new_path = org.path("01_LiveData.json")

with open(new_path, 'w') as jf:
    json.dump(first_entry, jf, indent = 2)

In [32]:
# Save as JSON file
new_path = org.path("02_LiveData.json")

with open(new_path, 'w') as jf:
    json.dump(second_entry, jf, indent = 2)

In [33]:
# Save as JSON file
new_path = org.path("03_LiveData.json")

with open(new_path, 'w') as jf:
    json.dump(third_entry, jf, indent = 2)

In [34]:
# Save as JSON file
new_path = org.path("04_LiveData.json")

with open(new_path, 'w') as jf:
    json.dump(fourth_entry, jf, indent = 2)

In [35]:
# Save as JSON file
new_path = org.path("05_LiveData.json")

with open(new_path, 'w') as jf:
    json.dump(fifth_entry, jf, indent = 2)

In [36]:
# Save as JSON file
new_path = org.path("06_LiveData.json")

with open(new_path, 'w') as jf:
    json.dump(sixth_entry, jf, indent = 2)

In [37]:
# Save as JSON file
new_path = org.path("07_LiveData.json")

with open(new_path, 'w') as jf:
    json.dump(other_entries, jf, indent = 2)

### Exemplarily Output

In [38]:
#Output for the first entry
print(json.dumps(first_entry, indent = 2))

[
  {
    "CO(GT)": 3.3,
    "PT08.S1(CO)": 1042,
    "NMHC(GT)": 377,
    "C6H6(GT)": 16.59,
    "PT08.S2(NMHC)": 1436,
    "NOx(GT)": 187,
    "PT08.S3(NOx)": 1232,
    "NO2(GT)": 184,
    "PT08.S4(NO2)": 1290,
    "PT08.S5(O3)": 525,
    "T": 1.2,
    "RH": 87.77,
    "AH": 0.47,
    "Date": "07/02/2005",
    "Time": "00.00.00"
  }
]

In [39]:
#Output for the two last entries 
print(json.dumps(other_entries, indent = 2))

[
  {
    "CO(GT)": 4.66,
    "PT08.S1(CO)": 1317,
    "NMHC(GT)": 122,
    "C6H6(GT)": 19.8,
    "PT08.S2(NMHC)": 1006,
    "NOx(GT)": 82,
    "PT08.S3(NOx)": 1119,
    "NO2(GT)": 147,
    "PT08.S4(NO2)": 1244,
    "PT08.S5(O3)": 480,
    "T": 26.91,
    "RH": 59.16,
    "AH": 1.21,
    "Date": "07/02/2005",
    "Time": "06.00.00"
  },
  {
    "CO(GT)": 3.47,
    "PT08.S1(CO)": 1576,
    "NMHC(GT)": 281,
    "C6H6(GT)": 11.73,
    "PT08.S2(NMHC)": 880,
    "NOx(GT)": 419,
    "PT08.S3(NOx)": 327,
    "NO2(GT)": 160,
    "PT08.S4(NO2)": 1857,
    "PT08.S5(O3)": 2017,
    "T": 8.21,
    "RH": 40.05,
    "AH": 0.57,
    "Date": "07/02/2005",
    "Time": "07.00.00"
  }
]