In [1]:
import pandas as pd
import pickle
import json
import orga_functions as org

In [2]:
import X3_Forecasting as forecast
import X4_ReadJSON as readj

In [3]:
from sklearn.metrics import mean_absolute_error

## Imports

In [4]:
# import model
with open(org.path("LinearRegression_ah_classifier.pkl"), 'rb') as f:
    linr_clf = pickle.load(f)

# JSON

## First Test

In [5]:
# original JSON File 
f = open(org.path("03_LiveData_single.json"))
json_entry = json.load(f)
f.close()

In [6]:
json_entry

[{'CO(GT)': 4.96,
  'PT08.S1(CO)': 882,
  'NMHC(GT)': 141,
  'C6H6(GT)': 5.85,
  'PT08.S2(NMHC)': 1588,
  'NOx(GT)': 237,
  'PT08.S3(NOx)': 292,
  'NO2(GT)': 131,
  'PT08.S4(NO2)': 1730,
  'PT08.S5(O3)': 1825,
  'T': 10.9,
  'RH': 11.14,
  'AH': 1.7,
  'Katze': 'missy',
  'Date': '07/02/2005',
  'Time': '09.00.00'}]

In [7]:
# original DataFrame
json_single_og = readj.json_to_df("03_LiveData_single.json")
json_single_og

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Katze
0,07/02/2005,09.00.00,4.96,882,141,5.85,1588,237,292,131,1730,1825,10.9,11.14,1.7,missy

In [8]:
readj.json_to_prepared_df("03_LiveData_single.json")

,date,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2005-02-07 09:00:00,4.96,882,141,5.85,1588,237,292,131,1730,1825,10.9,11.14,1.7

In [9]:
readj.json_to_correct_missing_df("03_LiveData_single.json", "02_AlleFeatureList.csv")

,date,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2005-02-07 09:00:00,4.96,882,141,5.85,1588,237,292,131,1730,1825,10.9,11.14,1.7

In [10]:
js = readj.json_to_ml_features_df("03_LiveData_single.json", linr_clf)
js

,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,no2_gt,pt08_s4_no2,t,ah
date,,,,,,,
2005-02-07 09:00:00,882,5.85,1588,131,1730,10.9,1.7

In [11]:
# entire DataPreparation and Prediction - ALL IN ONE
readj.pred_json_df("03_LiveData_single.json", linr_clf)

                     predicted_ah
future_datetime
2005-02-07 15:00:00      1.550254