In [1]:
import pandas as pd
import pickle
import json
import orga_functions as org

In [2]:
import X3_Forecasting as forecast
import X4_ReadJSON as readj

In [3]:
from sklearn.metrics import mean_absolute_error

## Imports

In [4]:
# import model
with open(org.path("LinearRegression_ah_regressor.pkl"), 'rb') as f:
    linr_clf = pickle.load(f)

# JSON

## First Test

In [5]:
# original JSON File 
f = open(org.path("01_LiveData.json"))
json_entry = json.load(f)
f.close()

In [6]:
json_entry

[{'CO(GT)': 2.57,
  'PT08.S1(CO)': 978,
  'NMHC(GT)': 54,
  'C6H6(GT)': 22.99,
  'PT08.S2(NMHC)': 1043,
  'NOx(GT)': 126,
  'PT08.S3(NOx)': 358,
  'NO2(GT)': 130,
  'PT08.S4(NO2)': 2055,
  'PT08.S5(O3)': 337,
  'T': 14.81,
  'RH': 41.4,
  'AH': 1.53,
  'Date': '07/02/2005',
  'Time': '00.00.00'}]

In [7]:
# original DataFrame
json_single_og = readj.json_to_df("01_LiveData.json")
json_single_og

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,07/02/2005,00.00.00,2.57,978,54,22.99,1043,126,358,130,2055,337,14.81,41.4,1.53

In [8]:
readj.json_to_prepared_df("01_LiveData.json")

,date,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2005-02-07,2.57,978,54,22.99,1043,126,358,130,2055,337,14.81,41.4,1.53

In [9]:
readj.json_to_correct_missing_df("01_LiveData.json", "02_AlleFeatureList.csv")

,date,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2005-02-07,2.57,978,54,22.99,1043,126,358,130,2055,337,14.81,41.4,1.53

In [10]:
js = readj.json_to_ml_features_df("01_LiveData.json", linr_clf)
js

,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,no2_gt,pt08_s4_no2,t,ah
date,,,,,,,
2005-02-07,978,22.99,1043,130,2055,14.81,1.53

In [11]:
# entire DataPreparation and Prediction - ALL IN ONE
readj.pred_json_df("01_LiveData.json", linr_clf)

                     predicted_ah
future_datetime
2005-02-07 06:00:00      1.419178