# Purpose of the Notebook:

> In this notebook, a regressor is used to make a prediction from the previously simulated data.
> We decided to use the linear regression.

## Imports

In [1]:
# import
import pandas as pd
import pickle
import json
import orga_functions as org

import X3_Forecasting as forecast
import X4_ReadJSON as readj

In [2]:
# import model
with open(org.path("LinearRegression_ah_regressor.pkl"), 'rb') as f:
    linr_clf = pickle.load(f)

# JSON

## Test 1 - step by step

In [3]:
# 1. step: Output of the JSON File in the original form
f = open(org.path("01_LiveData.json"))
json_entry = json.load(f)
f.close()

In [4]:
json_entry

[{'CO(GT)': 4.92,
  'PT08.S1(CO)': 935,
  'NMHC(GT)': 631,
  'C6H6(GT)': 5.31,
  'PT08.S2(NMHC)': 1396,
  'NOx(GT)': 416,
  'PT08.S3(NOx)': 312,
  'NO2(GT)': 1,
  'PT08.S4(NO2)': 1131,
  'PT08.S5(O3)': 1513,
  'T': 39.62,
  'RH': 26.04,
  'AH': 1.02,
  'Date': '07/02/2005',
  'Time': '00.00.00'}]

In [5]:
# 2. step: Output of the JSON File as a DataFrame
json_single_og = readj.json_to_df("01_LiveData.json")
json_single_og

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,07/02/2005,00.00.00,4.92,935,631,5.31,1396,416,312,1,1131,1513,39.62,26.04,1.02

In [6]:
# 2. step: Output of the JSON File as a prepared DataFrame
readj.json_to_prepared_df("01_LiveData.json")

,date,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2005-02-07,4.92,935,631,5.31,1396,416,312,1,1131,1513,39.62,26.04,1.02

In [7]:
# 3. step: Output of the JSON File as a prepared DataFrame with missing value treatment
readj.json_to_correct_missing_df("01_LiveData.json", "02_AlleFeatureList.csv")

,date,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2005-02-07,4.92,935,631,5.31,1396,416,312,1,1131,1513,39.62,26.04,1.02

In [8]:
# 4. step: Output of relevant features of the JSON file as a  DataFrame
js = readj.json_to_ml_features_df("01_LiveData.json", linr_clf)
js

,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,no2_gt,pt08_s4_no2,t,ah
date,,,,,,,
2005-02-07,935,5.31,1396,1,1131,39.62,1.02

In [9]:
# 5. step: Output of the Prediction-DataFrame based on the JSON file and the given regressor
readj.pred_json_df("01_LiveData.json", linr_clf)

                     predicted_ah
future_datetime
2005-02-07 06:00:00      1.186925

## Test 2

In [12]:
# JSON File in the original form
f = open(org.path("02_LiveData.json"))
json_entry = json.load(f)
f.close()

json_entry

[{'CO(GT)': -219.11,
  'PT08.S1(CO)': 898,
  'NMHC(GT)': -241,
  'C6H6(GT)': 14.72,
  'PT08.S2(NMHC)': 390,
  'NOx(GT)': 396,
  'PT08.S3(NOx)': 135,
  'NO2(GT)': 218,
  'PT08.S4(NO2)': 274,
  'PT08.S5(O3)': 2016,
  'T': -182.66,
  'RH': 19.85,
  'AH': -39.73,
  'Date': '07/02/2005',
  'Time': '01.00.00'}]

In [10]:
# Output of the Prediction-DataFrame based on the JSON file and the given regressor
# entire data preparation and prediction in one step
readj.pred_json_df("02_LiveData.json", linr_clf)

                     predicted_ah
future_datetime
2005-02-07 07:00:00      1.095722