In [1]:
# imports
import pandas as pd

In [2]:
# read in the dataframe
url = 'https://raw.githubusercontent.com/joa24jm/21-12-13_air-qual/master/data/01_raw/AirQualityUCI.csv'
df = pd.read_csv(url, sep=';', thousands=',')

In [3]:
# describe the dataframe
df.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
count,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,7998.000000,0.0,0.0
mean,-39.349462,1051.390473,-152.138785,28.535009,911.895974,149.096524,810.866592,45.156164,1445.659290,979.964741,180.496124,464.771068,10422.753563,NaN,NaN
std,194.760302,324.558998,150.096708,399.777166,340.000627,260.628377,321.385807,129.330765,455.347712,449.200147,112.518959,213.004871,4386.668719,NaN,NaN
min,-2000.000000,-200.000000,-200.000000,-2000.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,NaN,NaN
25%,2.000000,917.000000,-200.000000,43.000000,727.000000,39.000000,652.000000,44.000000,1275.250000,710.000000,123.000000,338.000000,7793.000000,NaN,NaN
50%,13.000000,1051.500000,-200.000000,83.000000,911.000000,122.000000,807.000000,90.000000,1494.000000,942.000000,187.000000,485.000000,10316.000000,NaN,NaN
75%,25.000000,1225.000000,-200.000000,142.000000,1122.000000,259.750000,976.000000,125.000000,1698.000000,1253.750000,251.000000,616.000000,13585.250000,NaN,NaN
max,119.000000,2040.000000,1189.000000,637.000000,2214.000000,1479.000000,2683.000000,333.000000,2775.000000,2523.000000,446.000000,887.000000,22310.000000,NaN,NaN

In [4]:
# drop columns without Values
df.drop(columns=['Unnamed: 15', 'Unnamed: 16'], inplace=True)

In [5]:
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,26,1360,150,119,1046,166,1056,113,1692,1268,136,489,7578
1,10/03/2004,19.00.00,2,1292,112,94,955,103,1174,92,1559,972,133,477,7255
2,10/03/2004,20.00.00,22,1402,88,90,939,131,1140,114,1555,1074,119,540,7502
3,10/03/2004,21.00.00,22,1376,80,92,948,172,1092,122,1584,1203,110,600,7867
4,10/03/2004,22.00.00,16,1272,51,65,836,131,1205,116,1490,1110,112,596,7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,06/02/2005,19.00.00,16,985,-200,45,736,227,891,165,875,774,60,380,3584
7994,06/02/2005,20.00.00,18,1002,-200,53,780,252,855,179,892,857,58,364,3385
7995,06/02/2005,21.00.00,14,938,-200,37,692,193,937,149,805,737,58,354,3286
7996,06/02/2005,22.00.00,11,896,-200,26,627,158,1033,126,782,610,54,366,3304
7997,06/02/2005,23.00.00,10,907,-200,24,614,150,1052,120,782,627,51,379,3358

In [6]:
# checking datatypes of all columns
df.dtypes

Date             object
Time             object
CO(GT)            int64
PT08.S1(CO)       int64
NMHC(GT)          int64
C6H6(GT)          int64
PT08.S2(NMHC)     int64
NOx(GT)           int64
PT08.S3(NOx)      int64
NO2(GT)           int64
PT08.S4(NO2)      int64
PT08.S5(O3)       int64
T                 int64
RH                int64
AH                int64
dtype: object

In [7]:
# 'Date'-column changed to contain date and time combined
df['Date'] = df['Date'] + ' ' + df['Time']

In [8]:
# parsing 'Date' into datetime-format
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y %H.%M.%S')
# dropping old column 'Time'
df.drop(columns='Time', inplace=True)

In [9]:
df

,Date,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 18:00:00,26,1360,150,119,1046,166,1056,113,1692,1268,136,489,7578
1,2004-03-10 19:00:00,2,1292,112,94,955,103,1174,92,1559,972,133,477,7255
2,2004-03-10 20:00:00,22,1402,88,90,939,131,1140,114,1555,1074,119,540,7502
3,2004-03-10 21:00:00,22,1376,80,92,948,172,1092,122,1584,1203,110,600,7867
4,2004-03-10 22:00:00,16,1272,51,65,836,131,1205,116,1490,1110,112,596,7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,2005-02-06 19:00:00,16,985,-200,45,736,227,891,165,875,774,60,380,3584
7994,2005-02-06 20:00:00,18,1002,-200,53,780,252,855,179,892,857,58,364,3385
7995,2005-02-06 21:00:00,14,938,-200,37,692,193,937,149,805,737,58,354,3286
7996,2005-02-06 22:00:00,11,896,-200,26,627,158,1033,126,782,610,54,366,3304
7997,2005-02-06 23:00:00,10,907,-200,24,614,150,1052,120,782,627,51,379,3358

In [10]:
# convert given columns into datatype float
df['CO(GT)'] = df['CO(GT)'].astype(float)
df['C6H6(GT)'] = df['C6H6(GT)'].astype(float)
df['T'] = df['T'].astype(float)
df['RH'] = df['RH'].astype(float)
df['AH'] = df['AH'].astype(float)

In [11]:
df.dtypes

Date             datetime64[ns]
CO(GT)                  float64
PT08.S1(CO)               int64
NMHC(GT)                  int64
C6H6(GT)                float64
PT08.S2(NMHC)             int64
NOx(GT)                   int64
PT08.S3(NOx)              int64
NO2(GT)                   int64
PT08.S4(NO2)              int64
PT08.S5(O3)               int64
T                       float64
RH                      float64
AH                      float64
dtype: object

In [1]:
#test change