In [2]:
import json
import pandas as pd
import numpy as np
import orga_functions as org
import functions as func

In [5]:
# read in the dataframe
path = org.path("00_FeatureList_original.csv")
#path = org.path("02_PlausFeatureList.csv")
feature_df = pd.read_csv(path, sep =";")

## FeatureList DataPreparation

In [6]:
feature_df

,names,mean,25%,50%,75%,min,max
0,co_gt,2.168604,1.1000,1.8000,2.9000,0.1000,5.600
1,pt08_s1_co,1098.303412,932.0000,1061.0000,1234.0000,647.0000,1687.000
2,c6h6_gt,10.458205,4.7000,8.6000,14.4000,0.1000,28.950
3,pt08_s2_nmhc,953.579453,749.0000,925.0000,1130.0000,749.0000,1701.500
4,nox_gt,232.360072,89.0000,164.0000,303.7500,0.1000,625.875
5,pt08_s3_nox,848.762615,672.0000,818.0000,984.0000,204.0000,1452.000
6,no2_gt,106.251831,73.0000,103.0000,132.0000,0.1000,220.500
7,pt08_s4_no2,1507.352834,1305.0000,1508.0000,1707.0000,702.0000,2310.000
8,pt08_s5_o3,1024.200026,737.0000,962.0000,1272.0000,253.0000,2074.500
9,t,19.476041,13.1000,19.3000,25.4000,0.3000,43.850
10,rh,48.969244,35.5000,49.4000,62.1000,9.2000,88.700
11,ah,1.082099,0.8167,1.0468,1.3713,0.1988,2.231

#### Original Names

In [8]:
# Original Dataframe
original_names = pd.read_csv(org.path("00_AirQuality_original.csv"), sep=';', nrows=1).columns.tolist()
del original_names[15:]

In [9]:
# Replace names by original/raw names
def og_name(name):
    for og in original_names:
        if func.change_column(og) == name:
            return og
    return name

In [10]:
feature_df.names = [og_name(x) for x in feature_df.names]

In [11]:
feature_df

,names,mean,25%,50%,75%,min,max
0,CO(GT),2.168604,1.1000,1.8000,2.9000,0.1000,5.600
1,PT08.S1(CO),1098.303412,932.0000,1061.0000,1234.0000,647.0000,1687.000
2,C6H6(GT),10.458205,4.7000,8.6000,14.4000,0.1000,28.950
3,PT08.S2(NMHC),953.579453,749.0000,925.0000,1130.0000,749.0000,1701.500
4,NOx(GT),232.360072,89.0000,164.0000,303.7500,0.1000,625.875
5,PT08.S3(NOx),848.762615,672.0000,818.0000,984.0000,204.0000,1452.000
6,NO2(GT),106.251831,73.0000,103.0000,132.0000,0.1000,220.500
7,PT08.S4(NO2),1507.352834,1305.0000,1508.0000,1707.0000,702.0000,2310.000
8,PT08.S5(O3),1024.200026,737.0000,962.0000,1272.0000,253.0000,2074.500
9,T,19.476041,13.1000,19.3000,25.4000,0.3000,43.850
10,RH,48.969244,35.5000,49.4000,62.1000,9.2000,88.700
11,AH,1.082099,0.8167,1.0468,1.3713,0.1988,2.231

#### Names as Index

In [12]:
feature_df.set_index('names', inplace = True)

In [13]:
feature_df.drop(index = ["month", "hour"], inplace = True)

KeyError: "['month' 'hour'] not found in axis"

In [10]:
feature_df[["min", "max"]]

                    min       max
names
CO(GT)           0.1000    11.900
PT08.S1(CO)    647.0000  2040.000
NMHC(GT)         7.0000  1189.000
C6H6(GT)         0.1000    63.700
PT08.S2(NMHC)  383.0000  2214.000
NOx(GT)          2.0000  1479.000
PT08.S3(NOx)   322.0000  2683.000
NO2(GT)          2.0000   333.000
PT08.S4(NO2)   657.0000  2775.000
PT08.S5(O3)    253.0000  2523.000
T                0.3000    44.600
RH               9.2000    88.700
AH               0.1988     2.231

# Create new entries

### Functions

In [11]:
def get_min(name):
    return feature_df.loc[name]["min"]
                         
def get_max(name):
    return feature_df.loc[name]["max"]

In [12]:
int_columns = func.og_int_column_list()

In [13]:
def get_correct(name):
    if name in int_columns:
        value = np.random.randint(get_min(name), get_max(name))
        return value
    else:
        value = np.random.uniform(get_min(name), get_max(name))
        return round(value, 2)

In [14]:
def get_too_small(name):
    if name in int_columns:
        value = np.random.randint(-250, get_min(name)-1)
        return value
    else:
        value = np.random.uniform(-250, get_min(name)-1)
        return round(value, 2)

In [15]:
def get_too_big(name):
    if name in int_columns:
        value = np.random.randint(get_max(name)+1, 5000)
        return value
    else:
        value = np.random.uniform(get_max(name)+1, 5000)
        return round(value, 2)

## Entry with only correct values

In [16]:
corr_dict = {}
for i in feature_df.index.values:
    corr_dict[i] = get_correct(i)

In [17]:
corr_dict["Date"] = "07/02/2005"
corr_dict["Time"] = '00.00.00'

## Entry with some too small values

In [18]:
change = 1
small_dict = {}
for i in feature_df.index.values:
    if change %2 == 0:
        small_dict[i] = get_correct(i)
    else:
        small_dict[i] = get_too_small(i)
    change+=1

In [19]:
small_dict["Date"] = "07/02/2005"
small_dict["Time"] = '01.00.00'

## Entry some too big values

In [20]:
change = 1
big_dict = {}
for i in feature_df.index.values:
    if change % 2 == 0:
        big_dict[i] = get_correct(i)
    else:
        big_dict[i] = get_too_big(i)
    change+=1

In [21]:
big_dict["Date"] = "07/02/2005"
big_dict["Time"] = '02.00.00'

## Entry with mix values

In [22]:
change = 1
mix_dict = {}
for i in feature_df.index.values:
    if change % 3 == 0:              #3,6,9,12
        mix_dict[i] = get_too_big(i)
    elif change % 2 == 0:            #2,4,8,10,(12)
        mix_dict[i] = get_too_small(i)
    else:                            #1,5,7,11,13
        mix_dict[i] = get_correct(i)
    change+=1

In [23]:
mix_dict["Date"] = "07/02/2005"
mix_dict["Time"] = '03.00.00'

## Entry with missing  values

In [24]:
missing_dict = {}

In [25]:
missing_dict["Date"] = "07/02/2005"
missing_dict["Time"] = '04.00.00'

In [26]:
missing_dict["CO(GT)"] = get_correct('CO(GT)')
missing_dict["PT08.S1(CO)"] = get_correct('PT08.S1(CO)')
missing_dict["NO2(GT)"] = get_correct('NO2(GT)')

In [27]:
missing_dict["NOx(GT)"] = np.nan

# more entries

In [28]:
corr_dict2 = {}
for i in feature_df.index.values:
    corr_dict2[i] = get_correct(i)

corr_dict2["Date"] = "07/02/2005"
corr_dict2["Time"] = '05.00.00'

In [29]:
corr_dict3 = {}
for i in feature_df.index.values:
    corr_dict3[i] = get_correct(i)

corr_dict3["Date"] = "07/02/2005"
corr_dict3["Time"] = '06.00.00'

In [30]:
corr_dict4 = {}
for i in feature_df.index.values:
    corr_dict4[i] = get_correct(i)

corr_dict4["Date"] = "07/02/2005"
corr_dict4["Time"] = '07.00.00'

In [31]:
corr_dict5 = {}
for i in feature_df.index.values:
    corr_dict5[i] = get_correct(i)

corr_dict5["Date"] = "07/02/2005"
corr_dict5["Time"] = '08.00.00'

# Save  LiveData in JSON File

In [32]:
#function
def entry_list(*entries):
    list = []
    for e in entries:
        list.append(e)
    return list

### Save some entries without missing values

In [33]:
entries_v1 = entry_list(corr_dict, small_dict, big_dict, mix_dict)

In [34]:
# Save as JSON file
new_path = org.path("00_LiveData.json")

with open(new_path, 'w') as jf:
    json.dump(entries_v1, jf, indent = 2)

### Save only the entry with missing values

In [35]:
# Save as JSON file
new_path = org.path("01_LiveData_missing.json")

with open(new_path, 'w') as jf:
    json.dump(entry_list(missing_dict), jf, indent = 2)

### Save all

In [36]:
entries_all = entry_list(corr_dict, small_dict, big_dict, mix_dict, missing_dict, corr_dict2, corr_dict3, corr_dict4, corr_dict5)

In [37]:
# Save as JSON file
new_path = org.path("02_LiveData.json")

with open(new_path, 'w') as jf:
    json.dump(entries_all, jf, indent = 2)

In [38]:
#Output
print(json.dumps(entries_all, indent = 2))

[
  {
    "CO(GT)": 3.53,
    "PT08.S1(CO)": 1107,
    "NMHC(GT)": 466,
    "C6H6(GT)": 63.68,
    "PT08.S2(NMHC)": 2038,
    "NOx(GT)": 550,
    "PT08.S3(NOx)": 2437,
    "NO2(GT)": 40,
    "PT08.S4(NO2)": 1878,
    "PT08.S5(O3)": 1977,
    "T": 18.89,
    "RH": 46.43,
    "AH": 0.61,
    "Date": "07/02/2005",
    "Time": "00.00.00"
  },
  {
    "CO(GT)": -76.52,
    "PT08.S1(CO)": 1557,
    "NMHC(GT)": -74,
    "C6H6(GT)": 24.77,
    "PT08.S2(NMHC)": -204,
    "NOx(GT)": 1081,
    "PT08.S3(NOx)": -150,
    "NO2(GT)": 283,
    "PT08.S4(NO2)": 28,
    "PT08.S5(O3)": 1874,
    "T": -38.2,
    "RH": 73.57,
    "AH": -76.35,
    "Date": "07/02/2005",
    "Time": "01.00.00"
  },
  {
    "CO(GT)": 2482.49,
    "PT08.S1(CO)": 1781,
    "NMHC(GT)": 2709,
    "C6H6(GT)": 9.06,
    "PT08.S2(NMHC)": 2777,
    "NOx(GT)": 904,
    "PT08.S3(NOx)": 2936,
    "NO2(GT)": 311,
    "PT08.S4(NO2)": 4531,
    "PT08.S5(O3)": 1787,
    "T": 3480.0,
    "RH": 30.83,
    "AH": 3098.98,
    "Date": "07/02/2005",
    "Time": "02.00.00"
  },
  {
    "CO(GT)": 6.0,
    "PT08.S1(CO)": 207,
    "NMHC(GT)": 1239,
    "C6H6(GT)": -165.46,
    "PT08.S2(NMHC)": 1888,
    "NOx(GT)": 2268,
    "PT08.S3(NOx)": 2344,
    "NO2(GT)": -229,
    "PT08.S4(NO2)": 3517,
    "PT08.S5(O3)": -188,
    "T": 29.39,
    "RH": 2897.8,
    "AH": 0.82,
    "Date": "07/02/2005",
    "Time": "03.00.00"
  },
  {
    "Date": "07/02/2005",
    "Time": "04.00.00",
    "CO(GT)": 11.19,
    "PT08.S1(CO)": 770,
    "NO2(GT)": 177,
    "NOx(GT)": NaN
  },
  {
    "CO(GT)": 4.47,
    "PT08.S1(CO)": 1003,
    "NMHC(GT)": 592,
    "C6H6(GT)": 48.93,
    "PT08.S2(NMHC)": 1444,
    "NOx(GT)": 1362,
    "PT08.S3(NOx)": 883,
    "NO2(GT)": 206,
    "PT08.S4(NO2)": 2363,
    "PT08.S5(O3)": 820,
    "T": 41.35,
    "RH": 19.37,
    "AH": 0.89,
    "Date": "07/02/2005",
    "Time": "05.00.00"
  },
  {
    "CO(GT)": 2.72,
    "PT08.S1(CO)": 1407,
    "NMHC(GT)": 1112,
    "C6H6(GT)": 34.43,
    "PT08.S2(NMHC)": 400,
    "NOx(GT)": 437,
    "PT08.S3(NOx)": 2528,
    "NO2(GT)": 197,
    "PT08.S4(NO2)": 1131,
    "PT08.S5(O3)": 499,
    "T": 4.12,
    "RH": 13.05,
    "AH": 1.78,
    "Date": "07/02/2005",
    "Time": "06.00.00"
  },
  {
    "CO(GT)": 11.77,
    "PT08.S1(CO)": 871,
    "NMHC(GT)": 852,
    "C6H6(GT)": 37.11,
    "PT08.S2(NMHC)": 699,
    "NOx(GT)": 702,
    "PT08.S3(NOx)": 1280,
    "NO2(GT)": 241,
    "PT08.S4(NO2)": 1788,
    "PT08.S5(O3)": 606,
    "T": 29.34,
    "RH": 62.96,
    "AH": 0.76,
    "Date": "07/02/2005",
    "Time": "07.00.00"
  },
  {
    "CO(GT)": 3.62,
    "PT08.S1(CO)": 662,
    "NMHC(GT)": 717,
    "C6H6(GT)": 52.97,
    "PT08.S2(NMHC)": 1693,
    "NOx(GT)": 300,
    "PT08.S3(NOx)": 1642,
    "NO2(GT)": 43,
    "PT08.S4(NO2)": 1573,
    "PT08.S5(O3)": 1184,
    "T": 20.6,
    "RH": 39.3,
    "AH": 2.18,
    "Date": "07/02/2005",
    "Time": "08.00.00"
  }
]