In [1]:
import pandas as pd
import functions as func
import orga_functions as org
import json

In [2]:
df = pd.read_csv(org.path("02_AirQuality_processed.csv"), sep=';')
#df = pd.read_csv(org.path("03_AirQuality_normalized.csv"), sep=';')
df

,date,co_gt,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2004-03-10 18:00:00,2.6,1360.0,11.9,1046.000000,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2004-03-10 19:00:00,2.0,1292.0,9.4,955.000000,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2004-03-10 20:00:00,2.2,1402.0,9.0,939.000000,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2004-03-10 21:00:00,2.2,1376.0,9.2,948.000000,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,2004-03-10 22:00:00,1.6,1272.0,6.5,836.000000,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,2005-02-06 19:00:00,1.6,985.0,4.5,953.579453,227.0,891.0,165.0,875.0,774.0,6.0,38.0,0.3584
7994,2005-02-06 20:00:00,1.8,1002.0,5.3,780.000000,252.0,855.0,179.0,892.0,857.0,5.8,36.4,0.3385
7995,2005-02-06 21:00:00,1.4,938.0,3.7,953.579453,193.0,937.0,149.0,805.0,737.0,5.8,35.4,0.3286
7996,2005-02-06 22:00:00,1.1,896.0,2.6,953.579453,158.0,1033.0,126.0,782.0,610.0,5.4,36.6,0.3304
7997,2005-02-06 23:00:00,1.0,907.0,2.4,953.579453,150.0,1052.0,120.0,782.0,627.0,5.1,37.9,0.3358

# Feature Engineering

## Selecting

In [3]:
# searching for best features by checking the best mean_absolute_error (LinearRegression)

#0.0758
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc", "nox_gt", "pt08_s3_nox","no2_gt", "pt08_s4_no2","pt08_s5_o3","t", "ah"]

# all without ah: 0.109093
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox","no2_gt", "pt08_s4_no2","pt08_s5_o3","t"]

#0.17263
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox","no2_gt", "pt08_s4_no2","pt08_s5_o3"]

#0.174619
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox","no2_gt", "pt08_s4_no2"]

#0.4676257
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox","no2_gt"]

#0.53005
#features = ['co_gt', 'pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","nox_gt", "pt08_s3_nox"]

#0.5355
#features = ['co_gt', 'pt08_s1_co']

#### single features

In [4]:
#0.533077
#features = ['co_gt']           #better than ['co_gt', 'pt08_s1_co']!!!

#0.53368
#features = ['pt08_s1_co']

#0.5236
#features = ["c6h6_gt"]

#0.53027
#features = ["pt08_s2_nmhc"]

#0.52022
#features = ["nox_gt"]

#0.5558
#features = ["pt08_s3_nox"]

#0.53640
#features = ["pt08_s5_o3"]

#### better than 0,5

In [5]:
#0.49599
#features = ["no2_gt"]

#0.31505
#features = ['pt08_s4_no2']

#0.21176
#features = ['t']

#0.08831 -ignore?
#features = ["ah"]

##### results:

In [6]:
#0.1598
#features = ["pt08_s4_no2","t"]

In [7]:
#0.11694
#features = ["no2_gt", "pt08_s4_no2","t"]

### Best  ("pt08_s4_no2","t")-Combi

##### worse:

In [8]:
#0.11910
#features = ["nox_gt","no2_gt", "pt08_s4_no2","t"]

#0.13353
#features = ["pt08_s3_nox","no2_gt", "pt08_s4_no2","t"]

#0.11706
#features = ["pt08_s5_o3","no2_gt", "pt08_s4_no2","t"]

#0.116959
#features = ['pt08_s1_co',"no2_gt", "pt08_s4_no2","t"]

#### better:

In [9]:
#0.1065670
#features = ["pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

#0.1107
#features = ["c6h6_gt","no2_gt", "pt08_s4_no2","t"]

#0.11682
#features = ['co_gt',"no2_gt", "pt08_s4_no2","t"]

-  winner: features = ["pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

### Best ("pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t")-Combi

#### worse

In [10]:
#0.10721
#features = ["co_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

#together
#0.10828
#features = ["co_gt","c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

#### better

In [11]:
#0.106266
#features = ["c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

- winner: features = ["c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

### Best ("c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t")-Combi

In [12]:
#0.10365
#features = ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]                #1

#0.1043
#features = ["c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","pt08_s5_o3","t"]                #3

#0.10427 (both)
#features = ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","pt08_s5_o3","t"]   #2

- best features: ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]

### Final Result

In [13]:
best_features = ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t"]                #0.10365
best_features_with_ah = ['pt08_s1_co',"c6h6_gt","pt08_s2_nmhc","no2_gt", "pt08_s4_no2","t", "ah"]  #0.0735711

In [14]:
#features = best_features
features = best_features_with_ah

# Forecasting

## Target

In [15]:
target = 'ah_target'

## Shift

In [16]:
# shift abs humidty values by 8 hrs
target = 'ah_target'
df[target] = df.ah.shift(periods=-8)

In [17]:
df.head(10)

,date,co_gt,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah,ah_target
0,2004-03-10 18:00:00,2.6,1360.0,11.9,1046.000000,166.0,1056.000000,113.000000,1692.0,1268.0,13.6,48.9,0.7578,0.7648
1,2004-03-10 19:00:00,2.0,1292.0,9.4,955.000000,103.0,1174.000000,92.000000,1559.0,972.0,13.3,47.7,0.7255,0.7517
2,2004-03-10 20:00:00,2.2,1402.0,9.0,939.000000,131.0,1140.000000,114.000000,1555.0,1074.0,11.9,54.0,0.7502,0.7465
3,2004-03-10 21:00:00,2.2,1376.0,9.2,948.000000,172.0,1092.000000,122.000000,1584.0,1203.0,11.0,60.0,0.7867,0.7366
4,2004-03-10 22:00:00,1.6,1272.0,6.5,836.000000,131.0,1205.000000,116.000000,1490.0,1110.0,11.2,59.6,0.7888,0.7353
5,2004-03-10 23:00:00,1.2,1197.0,4.7,750.000000,89.0,1337.000000,96.000000,1393.0,949.0,11.2,59.2,0.7848,0.7417
6,2004-03-11 00:00:00,1.2,1185.0,3.6,953.579453,62.0,848.762615,77.000000,1333.0,733.0,11.3,56.8,0.7603,0.7408
7,2004-03-11 01:00:00,1.0,1136.0,3.3,953.579453,62.0,848.762615,76.000000,1333.0,730.0,10.7,60.0,0.7702,0.7691
8,2004-03-11 02:00:00,0.9,1094.0,2.3,953.579453,45.0,848.762615,60.000000,1276.0,620.0,10.7,59.7,0.7648,0.7552
9,2004-03-11 03:00:00,0.6,1010.0,1.7,953.579453,45.0,848.762615,106.251831,1235.0,501.0,10.3,60.2,0.7517,0.7352

## Limitation of the ML_DataFrame

In [18]:
# drop related cols to target that are unknown

#df.drop(columns=['ah', 'rh'], inplace=True)
df.drop(columns=['rh'], inplace=True)

In [19]:
# drop rows where target is unknown
df.dropna(subset=[target], inplace=True)

In [20]:
#df = df[features + [target]]
df

,date,co_gt,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,ah,ah_target
0,2004-03-10 18:00:00,2.6,1360.0,11.9,1046.000000,166.0,1056.0,113.0,1692.0,1268.0,13.6,0.7578,0.7648
1,2004-03-10 19:00:00,2.0,1292.0,9.4,955.000000,103.0,1174.0,92.0,1559.0,972.0,13.3,0.7255,0.7517
2,2004-03-10 20:00:00,2.2,1402.0,9.0,939.000000,131.0,1140.0,114.0,1555.0,1074.0,11.9,0.7502,0.7465
3,2004-03-10 21:00:00,2.2,1376.0,9.2,948.000000,172.0,1092.0,122.0,1584.0,1203.0,11.0,0.7867,0.7366
4,2004-03-10 22:00:00,1.6,1272.0,6.5,836.000000,131.0,1205.0,116.0,1490.0,1110.0,11.2,0.7888,0.7353
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7985,2005-02-06 11:00:00,2.0,1065.0,6.7,844.000000,351.0,780.0,212.0,979.0,1117.0,8.0,0.3591,0.3584
7986,2005-02-06 12:00:00,1.7,968.0,4.6,953.579453,249.0,886.0,173.0,840.0,774.0,10.7,0.3242,0.3385
7987,2005-02-06 13:00:00,1.2,911.0,3.5,953.579453,188.0,981.0,135.0,790.0,558.0,11.1,0.3105,0.3286
7988,2005-02-06 14:00:00,1.0,868.0,2.1,953.579453,127.0,1081.0,100.0,753.0,420.0,10.6,0.3320,0.3304
7989,2005-02-06 15:00:00,0.8,868.0,1.9,953.579453,96.0,1128.0,78.0,755.0,363.0,10.3,0.3481,0.3358

In [21]:
# Missing value treatment

#df = df.dropna()
#df.reset_index(drop=True, inplace=True)
#df

In [22]:
df.shape

(7990, 13)

# Preparation Data

In [23]:
from sklearn.model_selection import train_test_split
#training, test = train_test_split(df, test_size=0.2, shuffle=False, random_state=1999)
training, test = train_test_split(df, test_size=1000, shuffle=False, random_state=1999)

In [24]:
X_train = training[features]
y_train = training[target]

x_test = test[features]
y_test = test[target]

In [25]:
X_train

      pt08_s1_co  c6h6_gt  pt08_s2_nmhc  no2_gt  pt08_s4_no2     t      ah
0         1360.0     11.9   1046.000000   113.0       1692.0  13.6  0.7578
1         1292.0      9.4    955.000000    92.0       1559.0  13.3  0.7255
2         1402.0      9.0    939.000000   114.0       1555.0  11.9  0.7502
3         1376.0      9.2    948.000000   122.0       1584.0  11.0  0.7867
4         1272.0      6.5    836.000000   116.0       1490.0  11.2  0.7888
...          ...      ...           ...     ...          ...   ...     ...
6985      1423.0     14.0   1116.000000   146.0       1531.0  12.3  1.0768
6986      1408.0     13.1   1088.000000   139.0       1504.0  11.7  1.0938
6987      1178.0      7.2    866.000000   128.0       1342.0  11.8  1.1381
6988       985.0      3.8    953.579453   106.0       1187.0  11.8  1.0741
6989      1113.0      5.2    776.000000   114.0       1217.0  12.0  1.0095

[6990 rows x 7 columns]

# Models/Classification

### Linear Regression

In [26]:
from sklearn.linear_model import LinearRegression
clf_lin_reg = LinearRegression()
clf_lin_reg.fit(X_train, y_train)

LinearRegression()

In [27]:
pred_linr_y = clf_lin_reg.predict(x_test)

#### Performance Check

In [28]:
#series of predicted values
series_pred = pd.Series(pred_linr_y[0:10])

#series of actual future values
series_future = pd.Series(test.iloc[0:10]["ah_target"].values)

In [29]:
check_df = pd.concat([series_future, series_pred], axis=1)
check_df.rename(columns= {0: "future_ah", 1:"predicted_ah"}, inplace = True)
check_df

   future_ah  predicted_ah
0     0.9302      1.015039
1     0.9113      0.970854
2     0.9335      0.915901
3     0.9261      0.889508
4     0.9379      0.872615
5     0.9309      0.844618
6     0.9698      0.828373
7     1.0422      0.852229
8     1.0851      0.911977
9     1.0356      0.904484

In [30]:
#Abweichung des voraussichtlichen(predicted) AH_Wertes von tatsÃ¤chlich zukunftigen AH_Wert
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, pred_linr_y)

0.07357114363730471

In [31]:
#Abweichung des aktuellen AH-Wertes von den tatsÃ¤chlichen zukunftigen AH_Wert
#mean_absolute_error(y_test, test.ah)

## Decision Tree

In [32]:
# import the regressor
from sklearn.tree import DecisionTreeRegressor 
  
# create a regressor object
clf_tree = DecisionTreeRegressor(random_state = 0) 
  
# fit the regressor with X and Y data
clf_tree.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [33]:
pred_tree_y = clf_tree.predict(x_test)

In [34]:
series_pred = pd.Series(pred_tree_y[0:10])
#series_future = pd.Series(test.iloc[0:10]["ah_target"].values)

In [35]:
check_df = pd.concat([series_future, series_pred], axis=1)
check_df.rename(columns= {0: "future_ah", 1:"predicted_ah"}, inplace = True)
check_df

   future_ah  predicted_ah
0     0.9302        1.0063
1     0.9113        1.0768
2     0.9335        0.8264
3     0.9261        0.8210
4     0.9379        0.5598
5     0.9309        0.5598
6     0.9698        0.8453
7     1.0422        0.7759
8     1.0851        1.0537
9     1.0356        1.0574

In [36]:
mean_absolute_error(y_test, pred_tree_y)

0.11594685

# Saving Model

## Save Model

In [37]:
import pickle

In [38]:
new_path = org.path("LinearRegression_ah_classifier.pkl")

with open(new_path, 'wb') as f:
    pickle.dump(clf_lin_reg, f)

In [39]:
new_path = org.path("DecisionTree_ah_classifier.pkl")

with open(new_path, 'wb') as f:
    pickle.dump(clf_tree, f)

## Test - Load model

In [40]:
with open(org.path("LinearRegression_ah_classifier.pkl"), 'rb') as f:
    loaded_clf = pickle.load(f)

In [41]:
pred_y = loaded_clf.predict(x_test)

In [42]:
series_pred = pd.Series(pred_y[0:10])
#series_future = pd.Series(test.iloc[0:10]["ah_target"].values)

In [43]:
check_df = pd.concat([series_future, series_pred], axis=1)
check_df.rename(columns= {0: "future_ah", 1:"predicted_ah"}, inplace = True)
check_df

   future_ah  predicted_ah
0     0.9302      1.015039
1     0.9113      0.970854
2     0.9335      0.915901
3     0.9261      0.889508
4     0.9379      0.872615
5     0.9309      0.844618
6     0.9698      0.828373
7     1.0422      0.852229
8     1.0851      0.911977
9     1.0356      0.904484

In [44]:
mean_absolute_error(y_test, pred_y)

0.07357114363730471